.dot {
  height: 60px;
  width: 60px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  flex-flow: row nowrap;
  margin: 2px;
}

.colors {
  max-height: 5rem;
  left: 43%;
  position: relative;
  
}

#Red {
  background-color: red;
}

#Blue {
  background-color: blue;
}

#Cyan {
  background-color: cyan;
}

#Pink {
  background-color: pink;
}

#Brown {
  background-color: brown;
}

#Green {
  background-color: green;
}

#Black {
  background-color: black;
}

#Gold {
  background-color: gold
}

.Red {
  background-color: red;
}

.Blue {
  background-color: blue;
}

.Cyan {
  background-color: cyan;
}

.Pink {
  background-color: pink;
}

.Brown {
  background-color: brown;
}

.Green {
  background-color: green;
}

.Black {
  background-color: black;
}

.Gold {
  background-color: gold
}
.rectangle {
  height: 50px;
  width: 100px;
  background-color: #555;
}